body{
    background-color: #0079BF;
}
.lista-contenedor{
    display: inline-block;
}
/*header*/
header{
    background-color: #0067A3;
    height: 60px;
}

.tableros{
    color: #f3f3f3;
    display: inline-block;
    font-weight: 700;
    float: left;
    height: 30px;
    line-height: 30px;
    margin-left: 25px;
    min-width: 30px;
    padding: 0;
    position: relative;
    text-decoration: none;
}
.busqueda, .tableros{
    display: inline-block;
    background-color: #4C94BF;
    border-color: #4C94BF;
    border-radius: 5px;
    height: 36px;
    margin-top: 5px;
    padding: 4px 10px;
}
.logo-trello{
    color:  7FB2D1;
}
.usuario{
    color: white;
    padding: 5px;
    background-color: #3888B7;
    margin-top: -12px;
}
#suma{
    display: inline-block;
    color: white;
    border-radius: 4px;
    background: #3A89B8;
    font-size: 18px;
    line-height: 25px;
    /* margin-top: 1px; */
    padding: 1px 9px;
}
/*header*/

.lista-contenedor{
    display: inline-block;
    vertical-align: top;
    width: 20%;
}
.contenedorNuevo{
    display: inline-block;
}
.newSpan {
    display: block;
}

#js-add-agregarLista {
    background: #006BA9;
    padding: 7px;
    color: rgba(255,255,255,.7);
    -webkit-transition: color 85ms ease-in;
    transition: color 85ms ease-in;
    white-space: nowrap;
}
#js-lista-input {
    border-radius: 6px;
    color:#919191;
    background:#D7D9DB;
    padding: 9px;
    margin-left: 14px;
}
#js-formularioLista {
height: auto;
    min-height: 30px;
    padding: 4px;
    border-radius: 3px;
    background-color: #E2E4E6
}
#js-add-button {
    background: #5DB248;
    border-radius: 6px;
    padding: 5px 17px;
    margin-top: 1px;
    color: white;
    margin-bottom: 6px;
    margin-left: 10px;
}
.divContenedor{

}




