body{
    background-color: #0079BF;
}
/*header*/
header{
    background-color: #0067A3;
    height: 60px;
    margin-bottom: 16px;
}

.logo-trello{
    color:  7FB2D1;
}



/*header*/

.lista-contenedor{
    vertical-align: top;
    width: 20%;
    padding: 9px;
    margin-left: 1%;
    border-radius: 5px;
}

.lista-contenedor{
    display: inline-block;
    vertical-align: top;
    width: 20%;
}
.span{
    cursor: pointer;
}

.contenedorNuevo{
    display: inline-block;
}

.newSpan {
    background: #FFFFFF;
    border-radius: 4px;
    color: #808080;
    display: block;
    padding: 4px;
    margin: 5px;
    word-wrap: break-word;
}

#js-add-agregarLista {
    background: #006BA9;
    padding: 7px 121px 7px 21px;
    color: rgba(255,255,255,.7);
    margin-left: 12px;
    transition: color 85ms ease-in;
    white-space: nowrap;
}

#js-lista-input {
    border-radius: 6px;
    color: #919191;
    background: #D7D9DB;
    padding: 7px 52px 7px 21px;
    margin-left: 10px;
    word-wrap: break-word;
    border-color: #AAAAAA;
}

#js-formularioLista {
    height: auto;
    min-height: 30px;
    padding: 4px;
    border-radius: 3px;
    background-color: #E2E4E6;
    width: 107%;
}

#js-add-button {
    background: #5DB248;
    border-radius: 6px;
    padding: 5px 17px;
    margin-top: 1px;
    color: white;
    margin-bottom: 6px;
    margin-left: 10px;
}

.divContenedor{
    border-radius: 3px;
    display: inline-block;
    width: 20%;
    vertical-align: top;
    margin: 10px;
}

#botonNuevo{
    width: 100%;
    background: #E2E4E6;
    border: none;
    color: #8F8F8F;
    text-decoration: underline;
}

#spanCreado {
    width: 100%;
    background: #E2E4E6;
    border: none;
    display: inline-block;
    padding: 9px;
}

.formNuevo {
    padding: 0.5em;
    background: #E2E4E6;
}

.textarea {
    display: block;
    width: 100%;
    margin-bottom: 5px;
    border-radius: 3px;
    border: none;
    resize: none;
}

.botonTextArea {
    background: #5CAF46;
    color: white;
    border: none;
    padding: 5px 17px;
    border-radius: 5px;
}

.divCreado {
    background: #E2E4E6;
    padding: 3px;
}

#textareaElimina, #js-borrar{
    color: #999999;
    font-size: 18px;
    line-height: 30px;
    margin-left: 18px;
    text-decoration: none;
    cursor: pointer;
}
.oculta{
    display: none;
}
.aparece{
    display: block;
}

